.app {
    height: 100%;
    width: 400px;
    background: var(--clr-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0 25px; */
    box-sizing: border-box;
    overflow-y: auto;
}
/* 
:root:has(.checkbox-dark-mode:checked) {
    --clr-background: red;
} */

h1,h2,h3,h4,h5,h6 {
    color: var(--clr-black)
}

path {
    fill: var(--clr-black)
}