:root {
    --clr-background: #F5F5F5;
    --clr-white: #FFFFFF;
    --clr-gray: #CCCCCC;
    --clr-black: #000000;
    --clr-blue-light: #18A0FB;
    --clr-blue-dark: #105C8E;
}


:root {
    /* --background: white;
    --text-primary: black;
    --text-secondary: royalblue;
    --accent: purple; */
  }
  
[data-theme='dark'] {
    --clr-background: black;
    --clr-white: black;
    --clr-gray: #CCCCCC;
    --clr-black: #FFFFFF;
    --clr-blue-light: #18A0FB;
    --clr-blue-dark: #105C8E;
}