:root {
    --clr-background: #F5F5F5;
    --clr-white: #FFFFFF;
    --clr-gray: #CCCCCC;
    --clr-black: #000000;
    --clr-blue-light: #6F8BC6;
    --clr-blue-dark: #6F8BC6;
}


/* :root {
    --background: white;
    --text-primary: black;
    --text-secondary: royalblue;
    --accent: purple;
  } */
  
[data-theme='dark'] {
    --clr-background: black;
    --clr-white: #1E1E1E;
    --clr-gray: #CCCCCC;
    --clr-black: #FFFFFF;
    --clr-blue-light: #BB86FC;
    --clr-blue-dark: #BB86FC;
}