:root {
  --clr-background: #f5f5f5;
  --clr-white: #ffffff;
  --clr-gray: #cccccc;
  --clr-black: #000000;
  --clr-blue-light: #6f8bc6;
  --clr-blue-dark: #6f8bc6;
}

/* :root {
    --background: white;
    --text-primary: black;
    --text-secondary: royalblue;
    --accent: purple;
  } */

[data-theme="dark"] {
  --clr-background: black;
  --clr-white: #1e1e1e;
  --clr-gray: #cccccc;
  --clr-black: #ffffff;
  --clr-blue-light: #1aebff;
  --clr-blue-dark: #1aebff;
}

[data-theme="blind"] {
  --clr-background: #fdecf1;
  --clr-white: #ffffff;
  --clr-gray: #cccccc;
  --clr-black: #000000;
  --clr-blue-light: #6f8bc6;
  --clr-blue-dark: #6f8bc6;
}
