
/* container */
.container-home {
    padding: 0 20px;
    width: calc(100% - 40px);
}

/* progress-bar */
.circular-progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--clr-white);
    border-radius: 20px;
    padding: 13px 30px;
    margin-bottom: 24px;
}

.circular-progress {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: conic-gradient(var(--clr-blue-light) 3.6deg, var(--clr-white) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress::before {
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--clr-white);
}

.progress-value {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    color: var(--clr-blue-dark);
}


.circular-progress-text p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    
    color: var(--clr-black);
}
.circular-progress-text p:first-child {
    font-style: normal;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    
    color: var(--clr-black);
}

/* attacks */
 

.attacks-frequent ,
.attacks-numbers {
    background: var(--clr-white);
    color: var(--clr-black);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.attacks-frequent-text,
.attacks-numbers-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;


    opacity: 0.7;
}
.attacks-frequent-number,
.attacks-numbers-number {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    
    opacity: 0.8;
}

.frequent {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.numbers {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}